.main {
  /*border-top: 20px solid #c0ccb4;*/
  border-top: 20px solid #6d7278;
  border-top: 20px solid #111b10;
}
.masthead .content, .footer {
  background-color: rgb(109, 114, 120);
}

.masthead .head::before {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -15px;
  background-position-x: -10px;
  z-index: 1;

}
@media only screen and (min-width:0) and (max-width:1300px) {
  .masthead .head::before {
    background-size: 115%;
    background-position-x: -15px;
    background-position-y: -10px;
  }
}
@media only screen and (min-width:0) and (max-width:1025px) {
  .masthead .head::before {
    position: relative;
    top: 100px;
    background-size: 110%;
    background-position-x: -15px;
    background-position-y: 0px;
  }
}
@media only screen and (min-width:0) and (max-width:568px) {
  .masthead .head::before {
    position: relative;
    top: 70px;
    background-size: 120%;
    background-position-x: -15px;
    background-position-y: 0px;
  }
}
@media only screen and (min-width:0) and (max-width:320px) {
  .masthead .head::before {
    position: relative;
    top: 60px;
    background-size: 120%;
    background-position-x: -15px;
    background-position-y: 0px;
  }
}
.main .last-words {
  text-align: center;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 2% 0 5% 0;
}

body {
  background-color:#f7f3ed;
  color:#2c343b;
  font-family:Metropolis-Thin,Helvetica,Arial,sans-serif;
  font-weight:300;
  height:100%;
  width:100%;
}
.main h1 {
  font-size:2.54em;
  font-weight:600;
}
.main .columns .column p {
  font-size:1.06em;
  font-weight:300;
  line-height:1.7em;

}

.note {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 50px;
}
.note p {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}
/*.my-name, .i-am-a {
  background-color: black;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}*/

.masthead .content {
  background-color: transparent;
}

.fas, .fab {

    font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 14px;
        line-height: 1;
        font-family: FontAwesome;
        font-size-adjust: none;
        font-kerning: auto;
        font-optical-sizing: auto;
        font-variant-alternates: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-language-override: normal;
        font-feature-settings: normal;
        font-variation-settings: normal;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.footer section .group h3 i.fas {
  left: 0;
  position: absolute;
}

.footer section .group i.fas, .footer section .group i.fab {
  left: 0;
  position: absolute;
}

.fas .fa-code::before {
  content:"\f121";
}

.fas .fa-wrench::before {
  content:"\f0ad";
}

.fas .fa-envelope::before {
  content:"\f0e0";
}

.fas .fa-phone::before {
  content:"\f095";
}

.fab .fa-bitbucket::before {
  content:"\f171";
}

.fab .fa-linkedin-in::before {
  content:"\f0e1";
}


