a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,td,th{text-align:left;font-weight:400;vertical-align:middle}
a img{border:none}
.center-x{left:50%;position:relative;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-o-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}
.center-y{position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}
.center-x-y{left:50%;position:relative;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.slideshow{background-color:rgba(0,0,0,.8);height:100%;left:0;opacity:0;-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);position:fixed;top:0;-webkit-transition-delay:500ms,0;-moz-transition-delay:500ms,0;-o-transition-delay:500ms,0;-ms-transition-delay:500ms,0;transition-delay:500ms,0;-webkit-transition-duration:0,500ms;-moz-transition-duration:0,500ms;-o-transition-duration:0,500ms;-ms-transition-duration:0,500ms;transition-duration:0,500ms;-webkit-transition-property:z-index,opacity;-moz-transition-property:z-index,opacity;-o-transition-property:z-index,opacity;-ms-transition-property:z-index,opacity;transition-property:z-index,opacity;width:100%;z-index:0}
.slideshow img{left:50%;max-height:90%;max-width:90%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.slideshow.opened{opacity:1;-ms-filter:none;filter:none;-webkit-transition-delay:0,100ms;-moz-transition-delay:0,100ms;-o-transition-delay:0,100ms;-ms-transition-delay:0,100ms;transition-delay:0,100ms;z-index:50}
html{height:100%;width:100%}
body{background-color:#f7f3ed;color:#2c343b;font-family:Metropolis-Thin,Helvetica,Arial,sans-serif;font-weight:300;height:100%;width:100%}
a{color:inherit;text-decoration:none;-webkit-transition-duration:250ms;-moz-transition-duration:250ms;-o-transition-duration:250ms;-ms-transition-duration:250ms;transition-duration:250ms;-webkit-transition-property:color,text-decoration;-moz-transition-property:color,text-decoration;-o-transition-property:color,text-decoration;-ms-transition-property:color,text-decoration;transition-property:color,text-decoration}
a:hover{text-decoration:underline}
.wrapper{margin:0 auto;width:100%}
@media only screen and (min-width:1025px) and (max-width:100000px){.wrapper{width:1000px}}
.footer{background-color:#52616d;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;color:#fff;padding:5%}
.footer:after,.footer:before{content:"";display:table}
.footer:after{clear:both}.footer section{float:left}
.footer section h2{font-size:2.25em;font-weight:700;margin-bottom:30px;text-transform:uppercase}
.footer section
.group{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;font-size:1.5em;padding-right:30px;width:50%}
.footer section
.group
h3{font-weight:400;margin-bottom:20px;padding-left:40px!important;position:relative}
.footer section
.group
h3 i.fa{left:0;position:absolute}
.footer section
.group
h3::before{font-size:.9em!important;margin:0 5px!important}
.footer section
.group
p,.footer section
.group ul{font-weight:100;line-height:1.3em}
.footer section
.group p li,
.footer section
.group ul li{margin-left:40px}
.footer section
.group p{margin-bottom:15px}
.footer section.skills{width:66.6666666666%}
.footer section.contact{width:33.3333333333%}
.footer section.contact .group{width:100%}
.footer section.contact .group a{padding-left:40px;position:relative}
.footer section.contact .group a i.fa{left:0;position:absolute;margin-top:4px}
.footer section.contact .group a i.fa.fa-phone{left:3px}
.footer p.copyright{clear:both;float:left;font-size:.9em;margin:5% 0 0;text-align:center;width:100%}
@media only screen and (min-width:0) and (max-width:1025px){.footer section h2{font-size:1.75em;margin-bottom:20px}
  .footer section .group{font-size:1.25em;padding-right:20px;width:50%}
  .footer section .group h3{font-weight:400;margin-bottom:14px;padding-left:30px!important}
  .footer section .group h3::before{font-size:.7em!important;margin:0 5px!important}
  .footer section .group p li,.footer section .group ul li{margin-left:30px}
  .footer section .group p{margin-bottom:15px}
  .footer section .group p a{padding-left:30px!important}
  .footer section .group p a::before{font-size:.8em!important;margin-top:5px}}
@media only screen and (min-width:0) and (max-width:768px){.footer section{text-align:center}
  .footer section .group{display:inline-block;float:none;margin:0 5%;padding-right:0;text-align:left;vertical-align:top;width:auto}
  .footer section.skills{margin-bottom:40px;width:100%}
  .footer section.contact{width:100%}
  .footer section.contact .group{width:auto}}
@media only screen and (min-width:0) and (max-width:320px){.footer section h2{font-size:1.75em;margin-bottom:20px}
  .footer section .group{font-size:1em;margin:0}
  .footer section .group h3{font-weight:400;margin-bottom:14px;padding-left:30px!important}
  .footer section .group h3 li{margin-left:30px}
  .footer section .group p{margin-bottom:15px}
  .footer section .group p a{padding-left:30px!important}}
.header{background-color:#c44741;color:#fff;font-size:2em;padding:4.5% 2%;position:relative;z-index:5}
.header .back i.fa{-webkit-transition-duration:250ms;-moz-transition-duration:250ms;-o-transition-duration:250ms;-ms-transition-duration:250ms;transition-duration:250ms;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}
.header .back:hover{text-decoration:none}
.header .back:hover i.fa{-webkit-transform:translate(-5px,0);-moz-transform:translate(-5px,0);-o-transform:translate(-5px,0);-ms-transform:translate(-5px,0);transform:translate(-5px,0)}

.main{border-top:20px solid #c44741}
.main h1{font-size:2.8em;font-weight:300;text-align:center;margin-bottom:2%;margin-top:6%;padding:0 1em}
.main h2{font-size:2em;margin-bottom:.7em}
.main strong{font-weight:700}
.main .columns{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;overflow:hidden;padding:0 5%;width:100%}
.main .columns:after,.main .columns:before{content:"";display:table}
.main .columns:after{clear:both}
.main .columns .column{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:50%}
.main .columns .column p{font-size:1.2em;line-height:1.4em;margin:5% 0;font-weight:300}
.main .columns .column:nth-child(odd){padding-right:3%}
.main .columns .column:nth-child(even){padding-left:3%}
.main .items{zoom:1;margin:20px 0 80px;width:103%}
.main .items:after,.main .items:before{content:"";display:table}
.main .items:after{clear:both}
.main .items .item{float:left;margin:0 3% 3% 0;position:relative;width:30.33333333333%}
.main .items .item::before{content:'';display:block;margin-top:100%}
.main .items .item a{-webkit-border-radius:50%;border-radius:50%;display:inline-block;height:100%;left:0;overflow:hidden;position:absolute;text-indent:-9999px;top:0;width:100%}
.main .items .item a[href]:hover{-webkit-box-shadow:0 0 8px 1px rgba(0,0,0,.25);box-shadow:0 0 8px 1px rgba(0,0,0,.25)}
@media only screen and (min-width:769px) and (max-width:1024px){.main h2{font-size:1.7em}}
@media only screen and (min-width:0) and (max-width:768px){.main .work{margin-top:70px}
  .main .columns .column{margin-bottom:-20px;padding:0!important;width:100%}
  .main h2{font-size:1.8em;text-align:center}}
@media only screen and (min-width:0) and (max-width:568px){.main h1{font-size:2em}
  .main .items .item{width:47%}}
@media only screen and (min-width:0) and (max-width:320px){.main h2{font-size:1.4em}}
.masthead{background-image:url(../images/img-masthead.png);background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;height:100%;position:relative;z-index:5}
.masthead .content{height:100%}
.masthead h1,.masthead h2,.masthead p{color:#fff}
.masthead p{font-size:3em;font-weight:100;position:absolute}
.masthead p.my-name{margin-right:170px;right:50%;text-align:right}
.masthead p.i-am-a{left:50%;margin-left:170px;text-align:left}
.masthead .head{background-color:#c0ccb4;-webkit-border-radius:50%;border-radius:50%;display:block;height:200px;padding:2em;position:relative;text-align:center;width:200px}
.masthead .head::before{background-image:url(../images/gr-head.png);background-position:-15px;-webkit-background-size:158.4px 200px;-moz-background-size:182.4px 200px;background-size:182.4px 200px;content:'';display:inline-block;height:200px;width:182.4px}
/*.masthead .head::after{border:4.8px solid #2c343b;-webkit-border-radius:50%;border-radius:50%;content:'';display:block;height:86%;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;width:86%}*/
.masthead .head::before{position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:5px -2px -5px 2px}
@media only screen and (min-width:0) and (max-width:1300px){.masthead .head{background-color:#c0ccb4;-webkit-border-radius:50%;border-radius:50%;display:block;height:175px;padding:1.75em;position:relative;text-align:center;width:175px}
  .masthead .head::before{background-image:url(../images/gr-head.png);background-position:-15px;-webkit-background-size:133.35px 175px;-moz-background-size:133.35px 175px;background-size:133.35px 175px;content:'';display:inline-block;height:175px;width:133.35px}
  /*.masthead .head::after{border:4.2px solid #2c34b;3-webkit-border-radius:50%;border-radius:50%;content:'';display:block;height:86%;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;width:86%}*/
  .masthead .head::before{position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:4px -1px -4px 1px}
  .masthead p{font-size:2.3em}
  .masthead p.my-name{margin-right:140px}
  .masthead p.i-am-a{margin-left:140px}}
@media only screen and (min-width:0) and (max-width:1025px){.masthead .content{left:50%;position:relative;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:auto}
  .masthead .head{background-color:#c0ccb4;-webkit-border-radius:50%;border-radius:50%;display:block;height:200px;padding:2em;position:relative;text-align:center;width:200px;left:0;margin:0 auto 4em;top:0;-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
  .masthead .head::before{background-image:url(../images/gr-head.png);background-position:-15px;-webkit-background-size:152.4px 200px;-moz-background-size:152.4px 200px;background-size:152.4px 200px;content:'';display:inline-block;height:200px;width:152.4px}
  /*.masthead .head::after{border:4.8px solid #2c343b;-webkit-border-radius:50%;border-radius:50%;content:'';display:block;height:86%;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;width:86%}*/
  .masthead .head::before{position:relative;top:80%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:5px -2px -5px 2px}
  .masthead p{position:relative;width:100%}
  .masthead p.my-name{font-size:3.8em;margin:0;right:auto;text-align:center;top:0}
  .masthead p.i-am-a{font-size:3em;left:auto;margin:0;text-align:center;top:0}}
@media only screen and (min-width:0) and (max-width:568px){.masthead .head{background-color:#c0ccb4;-webkit-border-radius:50%;border-radius:50%;display:block;height:150px;padding:1.6em;position:relative;text-align:center;width:150px;margin-bottom:3em}
  .masthead .head::before{background-image:url(../images/gr-head.png);background-position:-15;-webkit-background-size:114.3px 150px;-moz-background-size:114.3px 150px;background-size:114.3px 150px;content:'';display:inline-block;height:150px;width:114.3px}
  /*.masthead .head::after{border:3.6px solid #2c343b;-webkit-border-radius:50%;border-radius:50%;content:'';display:block;height:86%;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;width:86%}*/
  .masthead .head::before{position:relative;top:80%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:4px -1px -4px 1px}
  .masthead p.my-name{font-size:2.75em}
  .masthead p.i-am-a{font-size:2.15em}}
@media only screen and (min-width:0) and (max-width:320px){.masthead .head{background-color:#c0ccb4;-webkit-border-radius:50%;border-radius:50%;display:block;height:125px;padding:1.2em;position:relative;text-align:center;width:125px;margin-bottom:2.5em}
  .masthead .head::before{background-image:url(../images/gr-head.png);background-position:-15;-webkit-background-size:95.25px 125px;-moz-background-size:95.25px 125px;background-size:95.25px 125px;content:'';display:inline-block;height:125px;width:95.25px}
  /*.masthead .head::after{border:3px solid #2c343b;-webkit-border-radius:50%;border-radius:50%;content:'';display:block;height:86%;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;width:86%}*/
  .masthead .head::before{position:relative;top:80%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:3px -1px -3px 1px}
  .masthead p.my-name{font-size:2.25em}.masthead p.i-am-a{font-size:1.75em}}
