@font-face {
    font-family: 'Metropolis-Black';
    src: url('../fonts/Metropolis-Black.woff');
    src: url('../fonts/Metropolis-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-BlackItalic';
    src: url('../fonts/Metropolis-BlackItalic.woff');
    src: url('../fonts/Metropolis-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-Bold';
    src: url('../fonts/Metropolis-Bold.woff');
    src: url('../fonts/Metropolis-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-BoldItalic';
    src: url('../fonts/Metropolis-BoldItalic.woff');
    src: url('../fonts/Metropolis-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-ExtraBold';
    src: url('../fonts/Metropolis-ExtraBold.woff');
    src: url('../fonts/Metropolis-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-ExtraBoldItalic';
  src: url('../fonts/Metropolis-ExtraBoldItalic.woff');
    src: url('../fonts/Metropolis-ExtraBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-ExtraLight';
    src: url('../fonts/Metropolis-ExtraLight.woff');
    src: url('../fonts/Metropolis-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-ExtraLightItalic';
    src: url('../fonts/Metropolis-ExtraLightItalic.woff');
    src: url('../fonts/Metropolis-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-Light';
    src: url('../fonts/Metropolis-Light.woff');
    src: url('../fonts/Metropolis-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-LightItalic';
    src: url('../fonts/Metropolis-LightItalic.woff');
    src: url('../fonts/Metropolis-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-Medium';
    src: url('../fonts/Metropolis-Medium.woff');
    src: url('../fonts/Metropolis-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-MediumItalic';
    src: url('../fonts/Metropolis-MediumItalic.woff');
    src: url('../fonts/Metropolis-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-Regular';
    src: url('../fonts/Metropolis-Regular.woff');
    src: url('../fonts/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-RegularItalic';
    src: url('../fonts/Metropolis-RegularItalic.woff');
    src: url('../fonts/Metropolis-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url('../fonts/Metropolis-SemiBold.woff');
    src: url('../fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-SemiBoldItalic';
    src: url('../fonts/Metropolis-SemiBoldItalic.woff');
    src: url('../fonts/Metropolis-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-Thin';
    src: url('../fonts/Metropolis-Thin.woff');
    src: url('../fonts/Metropolis-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis-ThinItalic';
    src: url('../fonts/Metropolis-ThinItalic.woff');
    src: url('../fonts/Metropolis-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
